#myCarousel.carousel.slide
  %ol.carousel-indicators
    %li.active{data: {target: '#myCarousel', slide_to: '0'}}
    %li{data: {target: '#myCarousel', slide_to: '1'}}
    %li{data: {target: '#myCarousel', slide_to: '2'}}
  .carousel-inner
    .item.active
      -#=image_tag 'slide-01.jpg'
      %h1
        %span Nice marketing message comes here
      %button.btn.btn-large.btn-success Try out now for free
    .item
      =image_tag 'slide-02.jpg'
    .item
      =image_tag 'slide-03.jpg'
  %a.carousel-control.left{href: "#myCarousel", "data-slide" => 'prev'} &lsaquo;
  %a.carousel-control.right{href: "#myCarousel", "data-slide" => 'next'} &rsaquo;