- content_for(:title, "Keocko.com")
#myCarousel.carousel.slide
  %ol.carousel-indicators
    %li.active{data: {target: '#myCarousel', slide_to: '0'}}
    -i=1
    -(@slideshow_length-1).times do
      %li{data: {target: '#myCarousel', slide_to: "#{i}"}}
      -i+=1
  .carousel-inner
    -i=0
    -@slideshow_content.each do |content|
      .item{class: ('active' if (i==0))}
        =image_tag content[:image]
        .container
          .carousel-caption
            %h1=content[:h1]
            %p.lead=content[:h2]
      -i+=1
  %a.carousel-control.left{href: "#myCarousel", "data-slide" => 'prev'} &lsaquo;
  %a.carousel-control.right{href: "#myCarousel", "data-slide" => 'next'} &rsaquo;

.container-fluid
  .marketing
    .row-fluid
      .span4.offset1
        =link_to image_tag('presentation.png'), 'keocko_presentation.pdf'
        %h3 Download our detailed presentation
        =link_to 'Download pdf', 'keocko_presentation.pdf', class: 'more'
      .span4.offset2
        =link_to image_tag('contact.png'), contact_path
        %h3 Contact us for further information
        =link_to 'Contact details', contact_path, class: 'more'