- content_for(:title, "Keocko.com - Services")
.article-wrapper
  .container{style: 'max-width: 500px;'}
    :markdown
      ##Services

      >Human Sensor provides you statistics that you need
      >in order to reach your customers in a targeted way

      ####Fields of use
      retail, shopping centers, public spaces, community events

      - counting the passing / visiting traffic
      - measuring peak usage periods
      - workforce optimization
      - measuring customer satisfaction
      - reports on returning customers
      - customer habits
      - walked routes
      - comparative analyses


      ###Marketing, market research

      - target group analysis
      - campaign planning
      - measuring ads
      - analyzing campaigns
      - market research
      - comparative analyses

