- content_for(:title, "Keocko.com - Solutions")
.article-wrapper
  .container{style: 'max-width: 500px;'}
    :markdown
      ##Solutions

      >Behavior and habits research –
      >the new level of customer
      >insight every moment


      By means of a special, biometric measuring algorithm,
      we can enter a new phase of customer insight,
      where all information is immediately available.

      Learning about the habits of your customers
      will gain you competitive advantage.

      ###Our mission:

      - To support your sales and marketing communication processes
      with measurable data.
      - Your customers are monitored 24/7, ensuring that
      you make the right decisions based on the information
      obtained through the technology.

      ###The system:

      - carries out facial recognition with more than 93% efficiency.

      The facial recognition technology

      - can:
        - divide the customers based on gender and age,
        - give real-time reports about it,
      - monitors the passing traffic,
      - can recognize the emotions of the detected
      person,
      - records the length of impression.
