- content_for(:title, "Keocko.com - Technology")
.article-wrapper
  .container{style: 'max-width: 500px;'}
    :markdown
      ##Technology

      >Behind the scenes

      - Have you ever thought of who usually visit your store?

      - Who look at your shop window?

      - How should you transform your business or shop window to best fit the customer needs?

      ####The customer base is constantly changing

      It is influenced by the season, the time period, the holidays and even the weather.

      In order to be up-to-date about customer needs all the time and profit the most from your business, you need an information tool that offers you the continuous view of your customers, analyses changes automatically and helps your work seven days a week, 24 hours a day.

      #####This is offered by Keocko.

      With our Human Sensor solution you receive accurate and continuous information about your customers in return for a minimum monthly charge.

      You are informed about how many people looked at your shop window, what is the gender ratio of your customers, which age group visits your store in which time period, you can even get information about what X or Y age group or baby boomers pay attention to, or how surprising a new shop window item is.

      We assist you in arranging and locating your business by showing the routes of the customers.

      Our company is at your service by applying the latest technology so you can make most out of your business premises, whether it is a single store or a chain of a global brand.

