// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.sass.
// You can use Sass (SCSS) here: http://sass-lang.com/


.carousel-inner
  img
    position: relative
    width: 100%
  h1
    position: absolute
    left:  2em
    top:  2em
    width: 100%
    span
      color: black
      //background: rgb(0, 0, 0)
      //background: rgba(255, 255, 255 , 0.3)
      text-shadow: #ccc 1px 1px 1px
      padding: 10px
  .btn
    position: absolute
    right: 10%
    bottom:  10%
