.container
  .row
    .span5.pull-left
      .logo
        =link_to image_tag('keocko.png'), '#'
%header
  .navbar-wrapper
    .container
      .navbar.navbar-inverse
        %nav.navbar-inner#navmenu{role: 'navigation'}
          %ul.nav
            %li=link_to 'HOME', root_path
            %li=link_to 'SOLUTIONS', solutions_path
            %li=link_to 'TECHNOLOGY', technology_path
            %li=link_to 'SERVICES', services_path
            %li=link_to 'CONTACT US', contact_path
